button {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  height: 100px;
}

select {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  height: 100px;
}

canvas {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
